<div class="center">
    <div class="search-area">
        <div class="form-area">
            <div class="info">Search universities by name filter</div>
            <form [formGroup]="formGroup">
                <mat-form-field class="example-full-width d-block" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput
                           formControlName='name'
                           type="text"
                           placeholder="Ex. John"
                           class="form-control custom-control">
                </mat-form-field>
                <div style="text-align:center">
                    <button mat-raised-button color="primary" class="d-block w-100" [class.spinner]="isLoading"
                            [disabled]="isLoading" (click)="search()">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<universities-grid *ngIf="loadGrid" [dataSource]="dataSource"></universities-grid>
